.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}

.main {
  flex: 1;
  padding: 2rem 1.5rem 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  .site {
    padding: 2rem 8rem 0;
  }
}
