.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.main {
  flex: 1;
  padding: 1rem 1.5rem;
  text-align: center;
}

@media (min-width: 1024px) {
  .main {
    padding: 0 8rem;
  }
}
