.header {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas: 'logo blank lang menu';
  align-items: center;
  padding: 1.5rem;
  animation: fade-in 0.5s 0.1s ease both;
}

.logo {
  grid-area: logo;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.languagePicker {
  grid-area: lang;
  padding: 0.2rem 0 0.2rem 0.5rem;
  outline: none;
  border: 1px solid var(--light);
  background-color: transparent;
  color: var(--light);
  font-size: 1.4rem;
  cursor: pointer;

  & option {
    padding: 0.5rem;
    border: 1px solid var(--light);
    background-color: var(--purple);
    color: var(--light);
    text-align: center;
  }

  &:focus {
    border-color: var(--yellow);
  }
}

.openSidebar {
  grid-area: menu;
  margin-left: 1rem;
  padding: 0;
  border: none;
  font-size: 2rem;
}

@media (min-width: 1024px) {
  .header {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 'logo menu lang';
    align-items: center;
    padding: 3rem 8rem;
    animation: fade-in 0.5s 0.1s ease both;
  }

  .logo {
    font-size: 1.8rem;
    letter-spacing: 0;
    text-transform: none;
  }

  .openSidebar {
    display: none;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
